*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.hero{
background-image: url('./images/japanese-streetwallpaperflare.com_wallpaper.jpg');
 height: 100vh;
}
.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

li {
  display: inline;
  font-size: 48px;
   color: #fff;
    margin-left: 35px;
    text-transform: capitalize;
}
.shopping-grid{
  margin-left:  6rem;
  margin-right:  6rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #43397c;
  flex-wrap: wrap;
  align-content: flex-start;
}
.item10 .img {size: 52,52;}